html {
    /* box-sizing: border-box; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
body {
    /* box-sizing: border-box; */
    background-color: #121212;
    color: #E0E0E0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#resolutionScalesCalculator {

    /* padding-top: 2.5em; */
    /* box-sizing: border-box; */
    position: relative;
    width: 100%;
    height: 100%;

    /* overflow: hidden; */

    & > h1:first-child {
        /* margin-top: -2em; */
        position: relative;
        display: inline;
        /* height: 2.5em; */
    }

    &:not(:has(> section:hover)):not(:has(> section:target)) > section:first-of-type > main{
        display: flex;
    }

    &:has(> section:hover):not(:has(> section:target:hover)) {
        & > section:target {
            & > main {
                display: none;
            }
        }

        & > section:has(> header:hover) {
            & > header {
                border-color: rgba(255,255,255,0.5);
            }

            & > main {
                display: flex;
            }
        }
    }
    
    & > section {

        &:target {
            & > header {
                border-color: rgba(255,255,255,1);
            }
            & > main {
                display: flex;
            }
        }

        position: unset;
        display: inline;

        /* overflow: hidden; */

        & > header {
            box-sizing: border-box;
            position: relative;
            display: inline;
            min-height: 3em;
            
            /* padding: 0.0em; */
            border-radius: 0.25em 0.25em 0 0;
            border: 0.125em solid #333;
            border-color: rgba(0,0,0,1.0);
    
            box-shadow: inset 0 0 1em 0 rgba(255,255,255,0.125);
            
            /* height: 1.5em; */
            padding: 0.25em;
            padding-left: 1em;
            padding-right: 1em;
            margin: 0.25em;
            
            & > a {
                display: inline-block;
                text-decoration: none;
                color: unset;
                background-color: rgba(0,0,0,0.1);
                z-index: 1;
                
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 0; 
                }
            }
        }

        & > main {
            box-sizing: border-box;
            position: absolute;
            top: 2.5em;
            right: 0;
            /* bottom: 0; */
            left: 0;
            padding: 1rem;
            border-style: double;
            border-width: 0.5rem;
            border-color: #333;
            border-radius: 10px;
            overflow: scroll;
    
            background-color: rgba(0,0,0,0.1);
        
            min-width: fit-content;
            margin: auto;
        
            display: none;
            gap: 0.5em;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            width: fit-content;
            height: fit-content;
            margin: auto;
            gap: 0.5rem;
            /* position: relative; */
    
    
        }
    }

    & > article {
        margin-top: 2rem;
        padding: 1rem;
        border-style: double;
        border-width: 0.5rem;
        border-color: #333;
        border-radius: 10px;
        overflow-x: auto;
    
        min-width: fit-content;
        margin: auto;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: fit-content;
        margin: auto;
        gap: 0.5rem;
        position: relative;
    
        padding-top: 3rem;
    }

    & > article > h2 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0.5em;
        background-color: #333;
        color: #FFF;
        padding: 0.5em;
        border-radius: 5px 5px 0 0;

    }

    & #resolutionTable {
        min-width: 0;
    
        border-collapse: collapse;
        table-layout: auto;
        width: auto;
        max-width: 100%;
        margin: 0 auto;
    }

    & .side_by_side {
        /* display: inline; */
        display: flex;
        flex-direction: row;
        gap: 1em;

        & > * {
            height: fit-content;
        }
    }

    #resolutionScalings #resolutionTable .data-cell::before {
        content: attr(data-dimensions);
    }
    
    #resolutionScalings:has(#togglePixelCount:checked) #resolutionTable .data-cell::before {
        content: attr(data-pixels);
    }
    
    #resolutionScalings:has(#toggleNearestAlignedDimensions:checked) #resolutionTable .data-cell::before {
        content: attr(data-nearest-aligned-dimensions);
    }
    
    #resolutionScalings:has(#toggleNearestAlignedPixelCount:checked) #resolutionTable .data-cell::before {
        content: attr(data-nearest-aligned-pixel-count);
    }
    
    #resolutionScalings:has(#toggleNearestAlignedDimensionsError:checked) #resolutionTable .data-cell::before {
        content: attr(data-alignment-error-dimensions);
    }
    
    #resolutionScalings:has(#toggleNearestAlignedPixelCountError:checked) #resolutionTable .data-cell::before {
        content: attr(data-alignment-error-pixel-count);
    }
    
    
    & th,
    & td {
        border: 1px solid #333;
        padding: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid #333;
        padding: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #FFF;
        text-align: center;
    }
    
    & tr {
        background-color: #222;
        /* background-color: #1a1a1a; */
    }

    & tr:nth-child(even) {
        background-color: #1a1a1a;
    }
    
    & tr:hover {
        background-color: #2E2E2E;
    }
    
    & th {
        background-color: #1a1a1a;
        color: #FFF;
        white-space: nowrap;
        position: relative;
    }
    
    & th span {
        display: block;
        white-space: normal;
    }
        
    & .controls {
        margin-bottom: 1em;
        background-color: #333;
        padding: 0.5em;
        border-radius: 5px;
        text-align: right;
    
        /* margin-right: 0.5em; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: fit-content;

        & > label {
            color: #FFF;
            margin-right: 0.5rem;
        }
    }
    
    & #togglePixelCount {
        vertical-align: middle;
    }

    
    & table {
        min-width: 0;
        border-collapse: collapse;
        table-layout: auto;
        width: auto;
        max-width: 100%;
        margin: 0 auto;

        & > caption {
            background-color: #30303099;
            /* box-shadow: inset 0 0 1em 0 black; */
            border-style: solid;
            border-width: 0.1rem;
            border-color: rgba(255,255,255,0.25);
            /* border-radius: 10px; */
            /* text-shadow: 0em 0em 5em 1em rgba(0, 0, 0, 1); */
            
            & > h2 {
                /* background-color: #121212; */
                /* box-shadow: inset 0 0 1em 0 black; */
                /* text-shadow: 0.1em 0.51em 0.9em rgba(0, 0, 0, 1); */
                & > #extra_ratio_caption {
                    font-size: 0.6em;;
                }
            }
        }

            
    }

}



